/* Slideshow button */
@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve if resolution high enough & browser supports */
  .pswp--svg .pswp__button--playpause.play, .pswp--svg .pswp__button--playpause.play:before {
    background-image: url('play-wh.svg');
  }
  .pswp--svg .pswp__button--playpause.pause, .pswp--svg .pswp__button--playpause.pause:before {
    background-image: url('pause-wh.svg');
  }
}
.pswp__button--playpause.play, .pswp__button--playpause.play:before {
  background: url('play-wh.png') 12px 12px/20px 20px no-repeat;
}
.pswp__button--playpause.pause, .pswp__button--playpause.pause:before {
  background: url('pause-wh.png') 12px 12px/20px 20px no-repeat;
}
.pswp__button {
  outline: none;
}